body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", "Courier", serif;
    font-size: calc(10px + 1vmin);
    background-color: #ffbd69;
}

h1, h2 {
  font-family: "Impact", "Courier New", "Courier", serif;
  font-weight: normal;
  letter-spacing: 0.1em;
}
  
.layout-main {
  min-height: 100vh;
  color: #454545;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.card-main {
  padding: 5% 10%;
  margin: 1%;
  background-color: #FBFBFB;
  box-shadow: 10px 10px;
}

.card-header {
  font-size: calc(10px + 5vmin);
}

.bio {
  text-align: center;
}

.bio-wave {
  font-size: calc(10px + 6vmin);
  margin: 5px 0;
}

.bio-social {
  font-size: calc(10px + 3vmin);
  padding: 0 10px;
  color: #454545;
}

.bio-social:hover {
  color: black;
}

.img-header img {
  width: 50%
}

.img-header p {
  font-style: italic;
  font-size: 80%;
}
