body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", "Courier", serif;
    font-size: calc(10px + 1vmin);
    background-color: #ffbd69;
}

h1, h2 {
  font-family: "Impact", "Courier New", "Courier", serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0.5em 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

figure {
  margin: 2em 0;
}

footer {
  margin: 0.5em 0;
}
  
.layout-main {
  min-height: 100vh;
  color: #454545;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 1em;
  background-color: #FBFBFB;
  box-shadow: 10px 10px;
}

.card-main {
  padding: 2em;
}

.card-blog {
  padding: 4em 8em;
}

.card-header {
  font-size: calc(10px + 5vmin);
  margin-top: 1%;
}

.bio {
  text-align: center;
}

.bio-wave {
  font-size: calc(10px + 6vmin);
  margin: 5px 0;
  display: inline-block;
}

.bio-wave:hover {
  cursor: default;
  animation: wave 1s 1;
}

@keyframes wave {
  25%{transform: rotate(-10deg);}
  50%{transform: rotate(10deg);}
  75%{transform: rotate(10deg);}
  75%{transform: rotate(-10deg);}
}

.note {
  font-style: italic;
  font-size: 80%;
}

.blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}