

figure {
  margin: 2em 0;
}

figure img {
  max-width: 100%;
}

.note {
  font-style: italic;
  font-size: 80%;
}

.bio {
  text-align: center;
}

.card-layout {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #ffbd69;
}

.card-main {
  font-family: "Courier New", "Courier";
  padding: 2em;
  margin: 1em;
  background-color: var(--main-white-color);
  box-shadow: 10px 10px;
}

.card-main a {
  text-decoration: none;
}

.card-main a:hover {
  text-decoration: underline;
}

.blog {
  font-family: "Playfair Display", "Times", serif;
  line-height: 1.5;
  padding: 1em;
  margin: auto;
  max-width: 40rem;
}

header h1 a {
  color: var(--main-orange-color);
  text-decoration: none;
}

header h1 a:visited {
  color: var(--main-orange-color);;
}

.blog a:hover {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--main-dark-grey-color);
  }

  .blog {
    color: var(--main-white-color);
  }
}