.Bio-main {
  height: 2%;
  text-align: center;
  font-size: calc(10px + 1vmin);
  padding: 5%;
  background-color: #FBFBFB;
  box-shadow: 10px 10px;
}

.Bio-h1 {
  font-weight: normal;
  font-size: calc(10px + 5vmin);
  letter-spacing: 0.3em;
}

.Bio-avatar {
  height: "20em"
}

.Bio-social {
  font-size: calc(10px + 3vmin);
  padding: 0 10px;
  color: #454545;
}

.Bio-social:hover {
  color: black;
}
