.home {
  text-align: center;
}

.bioWave {
  font-size: 4rem;
  margin: 5px 0;
  display: inline-block;
}

.bioWave:hover {
  cursor: default;
  animation: wave 1s 1;
}

@keyframes wave {
  25% {
      transform: rotate(-10deg);
  }

  50% {
      transform: rotate(10deg);
  }

  75% {
      transform: rotate(10deg);
  }

  75% {
      transform: rotate(-10deg);
  }
}

.blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% {
      opacity: 0
  }

  49% {
      opacity: 0
  }

  50% {
      opacity: 1
  }
}