footer {
    font-size: 1rem;
    text-align: center;
    padding: 0.5em 0;
    flex-shrink: 0;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}