.link {
    color: var(--main-grey-color);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color: var(--main-grey-color);
}

nav ol {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

li + li {
    margin-left: 20px;
}