.Footer-main {
  min-height: 3vh;
  background-color: black;
  font-family: Arial;
  font-size: 0.9em;
  color: white;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Footer-child p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.Footer-main a {
  color: white;
}
