<!DOCTYPE html>
<html lang="en">
    <head>
        <title>What I'm doing now | Dom Jackson</title>
        <meta name="description" content="/now page">

        <!-- Head -->
        {% include "head.html" %}
    </head>
    <body>
        <!-- Header -->
        {% include "header.html" %}
        <div>
            <article>
                <h2>living</h2>
                <p>i currently live in Preston, UK</p>
                <h2>work</h2>
                <p>Software Architect at the BBC</p>
            </article>
        </div>
        <hr>
        <!-- Footer -->
        {% include "footer.html" %}
    </body>
</html>